#ini_oi{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 97.8px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 26px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
}

#ini_bd{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 215.63px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
	z-index: 9999;
}

#ini_bt{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 333.45px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
}

#ini_bn{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 451.27px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
}

#saudacoes{
	position: absolute;
	z-index: 10;
}

#cores{
	position: absolute;
	z-index: 1;
}

#yellow{
	position: absolute;
	width: 95px;
	height: 95px; 	
	left: 19px;
	top: 311px;
	background-color: #FFEEB8;
	border-radius: 50%;
	cursor:  url(../assets/images/hover.png), auto;
	border-radius: 100%;
  	box-shadow:  5px 10px #2b2b2b;
}

#yellow:hover{
	box-shadow: 2px 2px #2b2b2b;
  	transform: translate(3px, 8px);
}

#green{
	position: absolute;
	width: 95px;
	height: 95px; 	
	left: 19px;
	top: 198px;
	background-color: #B1FBB1;
	border-radius: 50%;
	cursor:  url(../assets/images/hover.png), auto;
	border-radius: 100%;
  	box-shadow:  5px 10px #2b2b2b;
}

#green:hover{
	box-shadow: 2px 2px #2b2b2b;
  	transform: translate(3px, 8px);
}

#blue{
	position: absolute;
	width: 95px;
	height: 95px; 	
	left: 19px;
	top: 424px;
	background-color: #7DDCDE;
	border-radius: 50%;
	cursor:  url(../assets/images/hover.png), auto;
	border-radius: 100%;
  	box-shadow:  5px 10px #2b2b2b;
}

#blue:hover{
	box-shadow: 2px 2px #2b2b2b;
  	transform: translate(3px, 8px);
}

#red{
	position: absolute;
	width: 95px;
	height: 95px; 	
	left: 19px;
	top: 85px;
	background-color: #F9A6A6;
	border-radius: 50%;
	cursor:  url(../assets/images/hover.png), auto;
	border-radius: 100%;
  	box-shadow:  5px 10px #2b2b2b;
}

#red:hover{
	box-shadow: 2px 2px #2b2b2b;
  	transform: translate(3px, 8px);
}