body{
  background-color: black;
  font-family: "Arial";
  cursor: url(../assets/images/cursor.png), auto;
}

@font-face { 
  font-family: AristaPro-Fat; 
  src: url('../assets/fonts/AristaPro-Fat.otf'); 
}

#myCanvas{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 1000px;
  height: 562px;
}
.formulario_idade , .formulario_nome{
   position: absolute; 
   top: 70px;
}

#formulario_inicio{
  width: 500px;
  padding: 30px;
  position: absolute;
  top: 20px;
  left: 220px;
}

#form_nome_libras{
  width: 500px;
  padding: 30px;
  position: absolute;
  top: 20px;
  left: 220px;
}

#form_nome_libras input[type=text],input[type=number] {
  font-family: 'AristaPro-Fat', sans-serif;
  font-size: 47px;
  border-radius: 51px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#form_nome_libras input:disabled{
  background-color: white !important;
}
#form_nome_libras input[type=text]:focus,input[type=number]:focus {
  border: 3px solid #555;
}

#form_idade_libras{
  width: 500px;
  padding: 30px;
  position: absolute;
  top: 20px;
  left: 220px;
}

#form_idade_libras input[type=text],input[type=number] {
  font-family: 'AristaPro-Fat', sans-serif;
  font-size: 47px;
  border-radius: 51px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#form_idade_libras input:disabled{
  background-color: white !important;
}
#form_idade_libras input[type=text]:focus,input[type=number]:focus {
  border: 3px solid #555;
}

.circulo_azul  img, .circulo_rosa img{
  width: auto;
  height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-bottom: 20px;

}

#formulario_inicio input[type=text],input[type=number] {
  font-family: 'AristaPro-Fat', sans-serif;
  font-size: 47px;
  border-radius: 51px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#formulario_inicio input[type=text]:focus,input[type=number]:focus {
  border: 3px solid #555;
}

.button {
  border: none;
  padding: 32px 40px;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 50%;
}

.btn_mapa {
  background-color: grey; 
  background-image: url("../assets/images/play.png");
  background-repeat: no-repeat;
  background-position: center; 
  color: black; 
  display: block;
}

.btn_mapa:hover {
  background-color: black;
}

.voltar_menu{
  background-image: url("../assets/images/back.png");
  position: absolute;
  top: 20px;
  left: 20px;
}

#butt_pular{
  position: absolute;
  background-color: #8ED77C; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'AristaPro-Fat', sans-serif;
  line-height: 51px;
  font-size: 40px;
  /*margin: 4px 2px;*/
  cursor:  url(../assets/images/hover.png), auto;
  /*padding: 14px 40px;*/
  width: 193px;
  height: 51px;
  left: 790px;
  top: 15px;
  display: none;
}
.tela{
  display: none;
}

.butt_pular:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.butt_voltar{
  position: absolute;
  background-color: #ff7ca4; /* Rosa */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'AristaPro-Fat', sans-serif;
  line-height: 51px;
  font-size: 40px;
  /*margin: 4px 2px;*/
  cursor:  url(../assets/images/hover.png), auto;
  /*padding: 14px 40px;*/
  width: 193px;
  height: 51px;
  left: 20px;
  top: 15px;
}

.butt_voltar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.text-center{
  text-align: center;
}

/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 1000px;
  height: 562px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
  padding-top: 30px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 70%;
  height: 230px;
}

.text-modal{
  font-size: 35px;
  color: #2b2b2b;
  font-family: 'AristaPro-Fat', sans-serif;
}

.btns_confirmacao{
  margin-top: 50px;
  text-align: center;   
}

#viewport{
  position: absolute;
  left: 180px;
  top: 70px;
}

.jonas_cutscene{
  position: absolute;
  left: 66px;
  top: 91px;
  width: 316px;
  height: 471px;
}
.marina_cutscene{
  position: absolute;
  left: 257px;
  top: -30px;
  width: 586px;
  height: 592px;
}

.jonas_cutscene_center{
  position: absolute;
  left: 352px;
  top: 91px;
  width: 316px;
  height: 471px;
}

/*BOTÃO DOS ALERTAS DE SAIR DO JOGO*/

.btn_alertas {
  display: inline-block;
  font-family: 'AristaPro-Fat', sans-serif;
  padding:  10px 80px;
  font-size: 41px;
  cursor:  url(../assets/images/hover.png), auto;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 51px;
  box-shadow:  5px 10px #2b2b2b;
}

.btn_alertas:hover {
  box-shadow: 2px 2px #2b2b2b;
  transform: translate(3px, 8px);
}

.btn_alertas_nao{
  background-color: #ff7dae;
  margin-right: 30px;
}

.btn_alertas_nao:hover{
  background-color: #ff4d91;
}

.btn_alertas_sim{
  background-color: #8ed77c;
  margin-left: 30px;
}

.btn_alertas_sim:hover{
  background-color: #68c94f;
}

/*BOTÕES DO MENU*/

.button_menu {
  border: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 50%;
}

.play_game {
  display: inline-block;
  position: absolute;
  top: 271px;
  left: 651px;
  background-color: #5A9AF9; 
  background-image: url("../assets/images/play-menu.png");
  background-repeat: no-repeat;
  background-position: 60%; 
  padding: 80px 80px;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 100%;
  box-shadow:  5px 10px #2b2b2b;
}

.play_game:hover {
  box-shadow: 2px 2px #2b2b2b;
  transform: translate(3px, 8px);
}

.som {
  display: inline-block;
  position: absolute;
  background-color: #5A9AF9; 
  background-repeat: no-repeat;
  background-position: center; 
  padding: 35px 35px;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 100%;
  box-shadow:  5px 10px #2b2b2b;
  margin-left: 917px;
  margin-top: 2px;
  border: none;
}
.tecla_letra, .tecla_espaco, .tecla_apagar {
  display: inline-block;
  background-color: #FFF; 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 55px;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 100%;
  border: none;
  right: 10px;
  left: 10px;
  min-width: 80px;
  min-height: 80px;
  margin: 1px;
  cursor:  url(../assets/images/hover.png), auto;
}
.teclado_libras{
  position: absolute;
  width: 774px; 
  left: 113px; 
  top: 140px;
}
.teclado_libras_numero{
  position: absolute;
  width: 912px; 
  left: 40px; 
  top: 180px;
}
.tecla_numero {
  display: inline-block;
  background-color: #FFF; 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 70px;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 100%;
  border: none;
  right: 10px;
  left: 10px;
  min-width: 85px;
  min-height: 85px;
  margin: 1px;
  cursor:  url(../assets/images/hover.png), auto;
}
.tecla_espaco, .tecla_apagar{
  font-family: 'AristaPro-Fat', sans-serif;
  line-height: 51px;
  font-size: 25px;
  color: #616161;
  border-radius: 20px;
  cursor:  url(../assets/images/hover.png), auto;
}
.tecla_enviar{
  top: 400px;
  left: 890px;
  position: absolute;
  width: 47.81px;
  height: 27.48px;
  z-index: 1;
  cursor:  url(../assets/images/hover.png), auto;
}
.tecla_espaco{
  padding-left: 260px;
  padding-right: 260px;
  position: absolute;
  top: 252px;
}
.tecla_apagar{
  padding-left: 43px;
  padding-right: 43px;  
  position: absolute;
  top: 252px;
  left: 610px;
}
.tecla_apagar_idade{
  top: 90px;
}
.somMenu{
  top: 424px;
  left: 828px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

}

.somativo{
  background-image: url("../assets/images/music.png");
}
.somdesativo{
  background-image: url("../assets/images/musicnot.png"); 
}

.som:hover {
  box-shadow: 2px 2px #2b2b2b;
  transform: translate(3px, 8px);
}


.ajuda {
  display: inline-block;
  position: absolute;
  top: 424px;
  left: 597px;
  background-color: #5A9AF9; 
  background-image: url("../assets/images/help.png");
  background-repeat: no-repeat;
  background-position: center; 
  padding: 35px 35px;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 100%;
  box-shadow:  5px 10px #2b2b2b;
}

.ajuda:hover {
  box-shadow: 2px 2px #2b2b2b;
  transform: translate(3px, 8px);
}


.infor {
  display: inline-block;
  position: absolute;
  top: 271px;
  left: 527px;
  background-color: #5A9AF9; 
  background-image: url("../assets/images/info.png");
  background-repeat: no-repeat;
  background-position: center; 
  padding: 35px 35px;
  cursor:  url(../assets/images/hover.png), auto;
  border-radius: 100%;
  box-shadow:  5px 10px #2b2b2b;
}

.infor:hover {
  box-shadow: 2px 2px #2b2b2b;
  transform: translate(3px, 8px);
}

/* BOTÕES JOGADORES */

.btn_jogadores {
  display: inline-block;
  font-family: 'AristaPro-Fat', sans-serif;
  font-size: 97px;
  cursor:  url(../assets/images/hover.png), auto;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 85px;
  box-shadow:  5px 10px #2b2b2b;
}

.btn_jogadores:hover {
  box-shadow: 2px 2px #2b2b2b;
  transform: translate(3px, 8px);
}

.btn_j1{
  position: absolute;
  top: 130px;
  left: 193px;
  padding:  20px 130px;
  background-color: #5A9AF9;
}

.btn_j1:hover{
  background-color: #2277f7;
}

.btn_j2{
  position: absolute;
  top: 295px;
  left: 193px;
  padding:  20px 80px;
  background-color: #ff7dae;
}

.btn_j2:hover{
  background-color: #ff4d91;
}

.play {
  position: absolute;
  top: 400px;
  left: 123px;
  padding: 10px 80px;
  background-color: #5A9AF9;
  font-size: 71px;
}

.play:hover{
  background-color: #2277f7;
}

.proximo {
  position: absolute;
  top: 400px;
  left: 80px;
  padding: 10px 80px;
  background-color: #ff7dae;
  font-size: 71px;
}

.proximo:hover{
  background-color: #ff4d91;
}

#score_cc{
  position: absolute;
  width: 314px;
  height: 31px;
  left: 343px;
  top: 23px;
  font-family: 'AristaPro-Fat', sans-serif;
  font-size: 34px;
  line-height: 31px;
  text-align: center;
  color: #565656;
}

#animation{
  position: absolute;
  left: 257px;
  top: 47px;
}

*{
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;  
}

.jogador_atual {
  border: solid black !important;
}

.pontuacao{
  display: none;
}

.pontuacao_escola .jogador1{
  left: 5%;
}
.pontuacao_escola .jogador2{
  left: 81%;
}
.pontuacao_escola .jogador1 p, .pontuacao_escola .jogador2 p{
  margin-bottom: 40px;
}
.pontuacao_escola .jogador1 p:last-child, .pontuacao_escola .jogador2 p:last-child{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 90px;
  text-align: center;
}

.pontuacao_fliperama .jogador1{
  left: 13%;
}
.pontuacao_fliperama .jogador2{
  left: 73%;
}
.pontuacao_fliperama .jogador1 p, .pontuacao_fliperama .jogador2 p{
  margin-bottom: 40px;
}
.pontuacao_fliperama .jogador1 p:last-child, .pontuacao_fliperama .jogador2 p:last-child{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
}