#ini_oi{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 97.8px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 26px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
}

#ini_bd{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 215.63px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
	z-index: 9999;
}

#ini_bt{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 333.45px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
}

#ini_bn{
	position: absolute;
	width: 89.73px;
	height: 89.73px;
	left: 16px;
	top: 451.27px;
	background-color: #8ED77C;
	border-radius: 50%;
	font-family: 'AristaPro-Fat', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 89.73px;
	cursor:  url(../assets/images/hover.png), auto;
}

#saudacoes{
	position: absolute;
	z-index: 10;
}