.caixa_dialogo{
    position: absolute;
    background-color: #EBEAEB; 
    border: none;
    color: black;
    font-family: 'AristaPro-Fat', sans-serif;
    font-size: 40px;
    width: 946px;
    height: 115px;
    top: 425px;
    right: 27px;
    z-index: 1;
    cursor:  url(../assets/images/hover.png), auto;
}

.caixa_dialogo > p{
	margin-left: 15px;
}

.dialogo_pers{
	position: absolute;
    background-color: #0E7694; 
    opacity: 0.8;
    border: none;
    color: white;
    text-align: center;
    line-height: 60px;
    font-family: 'AristaPro-Fat', sans-serif;
    font-size: 42px;
    width: 203px;
    height: 60px;
    top: 395px;
    left: 42px;	
    z-index: 2;
}

.caixa_seta{
	position: absolute;
	background-color: none;
	border: none;
  color: #91DC5A;
  text-align: center;
  font-size: 25px;
  width: 27.81px;
  height: 17.48px;
  left: 933.14px;
  top: 510.52px;	
  z-index: 1;
  cursor:  url(../assets/images/hover.png), auto;
}

#nextop1{
  position: absolute;
  font-size: 50px;
  width: 76.69px;
  height: 48.21px;
  left: 895.26px;
  top: 492.79px;  
  z-index: 1;
  cursor:  url(../assets/images/hover.png), auto;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}